<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fmendes.cuidadoprenatalapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icone_150"
        android:label="@string/app_name"
        android:roundIcon="@drawable/factos"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailNoticia"></activity>
        <activity android:name=".ListNoticias"></activity>
        <activity android:name=".CalculoGestacao"></activity>
        <activity android:name=".Sobre"></activity>
    </application>

</manifest>